### Puxar base de dados

In [2]:
import pandas as pd
analise_inicial = pd.read_csv('exportacoes_franca.csv')
display(analise_inicial)

,Year,Month,Country,City,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
0,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",Europe,79360,14150
1,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",European Union (EU),79360,14150
2,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",Europe,69412,9385
3,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",European Union (EU),69412,9385
4,2016,1,France,Alfenas - MG,901,"Coffee, whether or not roasted or decaffeinate...",9,"Coffee, tea, maté and spices",Europe,180914,57600
...,...,...,...,...,...,...,...,...,...,...,...
142355,2020,12,France,Vinhedo - SP,8424,Mechanical appliances (whether or not hand-ope...,84,"Nuclear reactors, boilers, machinery and mecha...",European Union (EU),2316,4
142356,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,Europe,27060,26400
142357,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,European Union (EU),27060,26400
142358,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,Europe,31111,23045
142359,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,European Union (EU),31111,23045

### Informações Gerais

In [3]:
print(analise_inicial.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142360 entries, 0 to 142359
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Year             142360 non-null  int64
 1   Month            142360 non-null  int64
 2   Country          142360 non-null  object
 3   City             142360 non-null  object
 4   SH4 Code         142360 non-null  int64
 5   SH4 Description  142360 non-null  object
 6   SH2 Code         142360 non-null  int64
 7   SH2 Description  142360 non-null  object
 8   Economic Block   142360 non-null  object
 9   US$ FOB          142360 non-null  int64
 10  Net Weight       142360 non-null  int64
dtypes: int64(6), object(5)
memory usage: 11.9+ MB
None

### Como foi a evolução das exportações para a frança ao longo dos anos?

In [4]:
exportacao_ano = analise_inicial.groupby("Year").sum()
exportacao_ano = exportacao_ano[["US$ FOB"]]

def formatar(valor):
    return f"${valor:,.2f}"

exportacao_ano["US$ FOB"] = exportacao_ano["US$ FOB"].map(formatar)
display(exportacao_ano)
#exportacao_ano.plot(kind='bar')

                US$ FOB
Year
2016  $4,615,500,082.00
2017  $4,448,705,456.00
2018  $5,239,424,416.00
2019  $5,218,723,612.00
2020  $3,967,594,810.00

### Quais os produtos mais exportados ao longo de todo o período?

In [10]:
exportacao_produto = analise_inicial.groupby("SH4 Description").sum()
exportacao_produto = exportacao_produto[['US$ FOB']]
exportacao_produto = exportacao_produto.sort_values('US$ FOB', ascending=False)
exportacao_produto["US$ FOB"] = exportacao_produto["US$ FOB"].map(formatar)
display(exportacao_produto)

                                                              US$ FOB
SH4 Description
Soybean oilcake and other solid residue, wh/not...  $5,628,424,640.00
Iron ores and concentrates, including roasted i...  $3,264,280,488.00
Chemical wood pulp, soda or sulphate, other tha...  $1,845,424,684.00
Coffee, whether or not roasted or decaffeinated...  $1,072,554,752.00
Other aircraft (for example, helicopters, aerop...    $685,133,070.00
...                                                               ...
Anti-freezing preparations and prepared de-icin...             $10.00
Man-made filament yarn (other than sewing threa...             $10.00
Glass envelopes (including bulbs and tubes), op...              $8.00
Cast glass and rolled glass, in sheets or profi...              $6.00
Drawing or colouring books for children                         $6.00

[935 rows x 1 columns]

### Em 2020 qual cidade mais exportou para a França?

In [20]:
tabela_2020 = analise_inicial.loc[analise_inicial["Year"]==2020, :]
exportacao_cidades = tabela_2020.groupby("City").sum()
exportacao_cidades = exportacao_cidades[['US$ FOB']]
exportacao_cidades = exportacao_cidades.sort_values('US$ FOB', ascending=False)
exportacao_cidades["US$ FOB"] = exportacao_cidades['US$ FOB'].map(formatar)
display(exportacao_cidades)

                                     US$ FOB
City
Duque de Caxias - RJ         $279,405,596.00
Luís Eduardo Magalhães - BA  $265,328,132.00
Ponta Grossa - PR            $187,777,016.00
São José dos Campos - SP     $172,939,276.00
Rio de Janeiro - RJ          $122,522,214.00
...                                      ...
Não-Me-Toque - RS                     $42.00
Cubatão - SP                          $40.00
Holambra - SP                         $10.00
São Sebastião do Caí - RS              $6.00
Quatro Pontes - PR                     $0.00

[648 rows x 1 columns]

### O que as 2 maiores cidades exportaram tanto?